body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(49, 49, 49);
    color: #FFF;
    font-family: "DM Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 70px;

}