.testimonios__imagen {
    max-width: 200px; 
    height: 80px; 
    display: block; 
    margin: 0 auto; 
}
.testimonios__nombre {
    font-weight: bold;
    color: #706e6e;
  }
  .testimonios_text{
    color:rgb(243, 240, 179) ;
     

  }